@model Gestion_de_salas.Models.Movimiento

<h2>Editar Observación</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Observacion"></label>
        <textarea asp-for="Observacion" class="form-control"></textarea>
        <span asp-validation-for="Observacion" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>
