html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}



body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Sidebar */
.sidebar {
    min-height: 100vh;
    position: sticky;
    top: 0;
}

/* Imagen del header */
.logo-header {
    height: 40px;
    width: auto;
}

/* Para asegurar que el contenido se alinee correctamente */
.d-flex {
    display: flex;
    flex-direction: row;
}

.content {
    flex-grow: 1;
    background-color: #f8f9fa;
}

